/* 2242  E Pluribus */

h1,
.h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Great Vibes', cursive;
    color: rgb(121, 86, 4);
    font-size: 4.5rem;
    line-height: 1.8;
    font-weight: 500
}

h2,
.h2 {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(121, 86, 4);
    font-size: 3rem;
    line-height: 1.37;
    font-weight: 100;
    text-shadow: 2rem;
}

h3,
.h3 {
    margin-top: 30px;
    margin-left: 200px;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 200
}

p,
.p {
    font-family: Pacifico;
    font-size: 33px;
    font-style: italic;
    font-variant: normal;
    font-weight: 800;
    line-height: 35px;
   color: #ebdea6 
       
}

body,
.body {
    overflow: auto;
}

body,
.body {
    background-image: url(../images/p1.jpg);
    top: center / 100px 50px/* position / size */
    no-repeat/* repeat */
    fixed/*attachment */
    padding-box/* origin */
    content-box/* clip */
    red;
    /* color */
}


/*the above is full page bg */
